@CHARSET "UTF-8";

.sample1 {
	color: #ffffff;
	background-color: #6495ed;
	padding: 10px;
	text-align: center;
}

.sample2 {
	color: #dc143c;
	text-align: center;
}

.button {
	width: 200px;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 8px 0 10px;
	margin: 8px;
	color: #333;
	border: 1px solid #333;
	color: #fff;
	background-color: #6495ed;
	border-radius: 5px;
}

.padding {
	padding: 10px;
	text-align: left;
}

.pulldown {
	width: margin-right: auto;
	padding: 10px;
}

.number {
	text-align: right;
}